/*
div.admonition-todo {
border-top: 2px solid red;
border-bottom: 2px solid red;
border-left: 2px solid red;
border-right: 2px solid red;
background-color: #ff6347
}
*/
div.admonition-todo {
border: 2px solid #bccdb1;
border-right-style: none;
border-left-style: none;
padding: 10px 20px 10px 60px;
background: #eeffe3 url(dialog-todo.png) no-repeat 10px 8px;
}

